<% if session[:user_id] %>

  <h1>Nowagrammers</h1>

<h3>You are following</h3>
  <% @self.following.each do |user| %>
    <div class='user'>
      <b><%= user.username %></b>
      <i><%= user.name %></i>
    </div>
  <% end %>

<h3>You could be following</h3>
  <% @not_following.each do |user| %>
    <div class='user'>
      <b><%= link_to user.username, user %></b>
      <i><%= user.name %></i>
    </div>
  <% end %>


<% else %>
  <h1>Log in to follow other Nowagrammers!</h1>
<% end %>
